<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      ><!---->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>

    <link rel="stylesheet" href="../static/pages/css/ace.min.css" id="main-ace-style" />
    <link rel="stylesheet" href="../static/pages/css/index.css"/>
    <link rel="stylesheet" href="../static/pages/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/pages/css/font-awesome.min.css" />
    <script src="../static/pages/js/jquery.min.js"></script>
    <script src="../static/pages/js/ace.min.js"> </script>
    <script src="../static/pages/js/bootstrap.min.js"> </script>


</head>
<body>
<div th:replace="layout::top"></div>
<div class="main-container" id="main-container">
    <div th:replace="layout::left('11','')">
    </div>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumb">
            <img src="../static/pages/img/line1.png"/>
            <span>初始化设置</span>
            <img src="../static/pages/img/line.png"/>
        </div>
        <div class="step">
            <ul>
                <li class="step1"><span>1</span>组织架构</li>
                <li class="step2"><span>2</span>员工</li>
                <li class="step2"><span>3</span>课程</li>
                <li class="step2"><span>4</span>班级</li>
                <li class="step3"><span>5</span>学员导入</li>
            </ul>
            <p>已完成 <span>50%</span></p>
        </div>
        <div class="breadcrumbs" id="breadcrumbs">
            <img src="../static/pages/img/line1.png"/>
            <span>常用功能</span>
            <img src="../static/pages/img/line.png"/>
        </div>
        <div class="eduFun">
            <div class="eduFunList">
                <p class="eduFunListBg">
                    <img src="../static/pages/img/bm.png"/>
                    <span>报名续费</span>
                </p>
                <p class="FunListTxt">今日报名订单10</p>
            </div>
            <div class="eduFunList">
                <p class="eduFunListBg">
                    <img src="../static/pages/img/sk.png"/>
                    <span>排课</span>
                </p>
            </div>
            <div class="eduFunList">
                <p class="eduFunListBg">
                    <img src="../static/pages/img/bm.png"/>
                    <span>记上课</span>
                </p>
                <p class="FunListTxt">今日记上课10</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>