<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    
    <link rel="stylesheet" href="../static/pages/css/ace.min.css" id="main-ace-style" />
    <link rel="stylesheet" href="../static/pages/css/index.css"/>
    <link rel="stylesheet" href="../static/pages/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/pages/css/font-awesome.min.css" />
    <script src="../static/pages/js/jquery.min.js"></script>
    <script src="../static/pages/js/ace.min.js"> </script>
    <script src="../static/pages/js/bootstrap.min.js"> </script>


</head>
<body>
<div id="navbar" class="eduNav">
    <div class="navbar-header pull-left">
        <a href="index.html" class="navbar-brand">
            <small>
                <img src="../static/pages/img/logo.png" alt=""/>
            </small>
        </a>
    </div>
    <div class="pull-right eduName">
        <!--<span>万某 [管理员]</span>
        <span>机构中心</span>
        <span>退出</span>  -->
    </div>
</div>  
<div class="main-container" id="main-container">
    <div id="sidebar" class="sidebar responsive">
        <ul class="nav nav-list" style="top: 0px;">
            <li class="active">
                <a href="/forward/index"><span class="menu-text"> 工作台 </span></a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/student/getManagementList"><span class="menu-text"> 办理中心 </span></a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <span class="menu-text">教务中心</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="/student/getXbStudentList"><i class="menu-icon fa fa-caret-right"></i>学员</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/student/getXbClassroomList"><i class="menu-icon fa fa-caret-right"></i>班级</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/student/getOneToOneList">
                            <i class="menu-icon fa fa-caret-right"></i>一对一</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/jw_center_arranging_course/to_arranging_course"><i class="menu-icon fa fa-caret-right"></i>排课</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/forward/lessonTable"><i class="menu-icon fa fa-caret-right"></i>课程表</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/forward/attendClass"><i class="menu-icon fa fa-caret-right"></i>记上课</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/jwcentercourse/tocourse"><i class="menu-icon fa fa-caret-right"></i>课程</a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <span class="menu-text"> 内部管理 </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="/accounts/getOrgansList"><i class="menu-icon fa fa-caret-right"></i>组织架构</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/accounts/getEmployeeList"><i class="menu-icon fa fa-caret-right"></i>员工信息</a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumb">
            <img src="../static/pages/img/line1.png"/>
            <span>初始化设置</span>
            <img src="../static/pages/img/line.png"/>
        </div> 
        <div class="step">
            <ul>
                <li class="step1"><span>1</span>组织架构</li>
                <li class="step2"><span>2</span>员工</li>
                <li class="step2"><span>3</span>课程</li>
                <li class="step2"><span>4</span>班级</li>
                <li class="step3"><span>5</span>学员导入</li>
            </ul>
            <p>已完成 <span>50%</span></p>
        </div> 
        <div class="breadcrumbs" id="breadcrumbs">
            <img src="../static/pages/img/line1.png"/>
            <span>常用功能</span>
            <img src="../static/pages/img/line.png"/>
        </div> 
        <div class="eduFun">
            <div class="eduFunList">
                <p class="eduFunListBg">
                    <img src="../static/pages/img/bm.png"/>
                    <span>报名续费</span>    
                </p>       
                <p class="FunListTxt">今日报名订单10</p>         
            </div> 
            <div class="eduFunList">
                <p class="eduFunListBg">
                    <img src="../static/pages/img/sk.png"/>
                    <span>排课</span>    
                </p>               
            </div> 
            <div class="eduFunList">
                <p class="eduFunListBg">
                    <img src="../static/pages/img/bm.png"/>
                    <span>记上课</span>    
                </p>       
                <p class="FunListTxt">今日记上课10</p>         
            </div>               
        </div>  
    </div>
</div> 
  
</body>
</html>