<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>欢迎登录</title>
    <head>
    </head>

    <body>
        <div id="navbar" class="eduNav" th:fragment="top">
            <div class="navbar-header pull-left">
                <a href="/forward/index" class="navbar-brand">
                    <small>
                        <img src="../static/pages/img/logo.png" alt=""/>
                    </small>
                </a>
            </div>
            <div class="pull-right eduName">
                <span>测试 [管理员]</span>
                <span>退出</span>
                <span>机构中心</span>
            </div>
        </div>
        <div class="main-container" id="main-container">
            <div id="sidebar" class="sidebar responsive" th:fragment="left(tab1,tab2)">
                <ul class="nav nav-list" style="top: 0px;" id="zhu">
                    <li th:class="${tab1=='11'}? 'active'">
                        <a href="/forward/index"><span class="menu-text"> 工作台 </span></a>
                        <b class="arrow"></b>
                    </li>
                    <li th:class="${tab1=='12'}? 'active'">
                        <a href="/student/getManagementList"><span class="menu-text"> 办理中心 </span></a>
                        <b class="arrow"></b>
                    </li>
                    <li th:class="${tab1=='13'}? 'active open'">
                        <a href="#" class="dropdown-toggle">
                            <span class="menu-text">教务中心</span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu" id="submenu">
                            <li th:class="${tab2=='31'}? 'active'">
                                <a href="/student/getXbStudentList"><i class="menu-icon fa fa-caret-right"></i>学员</a>
                                <b class="arrow"></b>
                            </li>
                            <li th:class="${tab2=='32'}? 'active'">
                                <a href="/student/getXbClassroomList"><i class="menu-icon fa fa-caret-right"></i>班级</a>
                                <b class="arrow"></b>
                            </li>
                            <li th:class="${tab2=='33'}? 'active'">
                                <a href="/student/getOneToOneList">
                                    <i class="menu-icon fa fa-caret-right"></i>一对一</a>
                                <b class="arrow"></b>
                            </li>
                            <li th:class="${tab2=='34'}? 'active'">
                                <a href="/jw_center_arranging_course/to_arranging_course"><i class="menu-icon fa fa-caret-right"></i>排课</a>
                                <b class="arrow"></b>
                            </li>
                            <li th:class="${tab2=='35'}? 'active'">
                                <a href="/lessonTable/toLessonTable"><i class="menu-icon fa fa-caret-right"></i>课程表</a>
                                <b class="arrow"></b>
                            </li>
                            <li th:class="${tab2=='36'}? 'active'">
                                <a href="/recordClass/getRecordClassList"><i class="menu-icon fa fa-caret-right"></i>记上课</a>
                                <b class="arrow"></b>
                            </li>
                            <li th:class="${tab2=='37'}? 'active'">
                                <a href="/jwcentercourse/tocourse"><i class="menu-icon fa fa-caret-right"></i>课程</a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                    <li th:class="${tab1=='14'}? 'active open'">
                        <a href="#" class="dropdown-toggle">
                            <span class="menu-text"> 内部管理 </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li th:class="${tab2=='41'}? 'active'">
                                <a href="/accounts/getOrgansList"><i class="menu-icon fa fa-caret-right"></i>组织架构</a>
                                <b class="arrow"></b>
                            </li>
                            <li th:class="${tab2=='42'}? 'active'">
                                <a href="/accounts/getEmployeeList"><i class="menu-icon fa fa-caret-right"></i>员工信息</a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="container" layout:fragment="content"></div>
        </div>

        <script type="text/javascript" th:inline="javascript">
            $(function(){
                //$(".dropdown-menu  li").addClass('active');
                //$("#submenu-menu  li").addClass('active');
                /*$("#submenu li").click(function() {
                    $(this).parents('li').addClass('active');  // 删除其他兄弟元素的样式
                    alert($(this).parents('li'));
                    $(this).parents('li').addClass('open');  // 删除其他兄弟元素的样式
                    $(this).siblings('li').removeClass('active');  // 删除其他兄弟元素的样式
                    $(this).addClass('active');                            // 添加当前元素的样式
                });*/
            });
        </script>
    </body>
</html>