<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../static/pages/css/ace.min.css" id="main-ace-style" />
    <link rel="stylesheet" href="../static/pages/css/index.css">
    <link rel="stylesheet" href="../static/pages/css/management.css">
    <link rel="stylesheet" href="../static/pages/css/fullcalendar.css">
    <link rel="stylesheet" href="../static/pages/css/lessonTable.css">
    <link rel="stylesheet" href="../static/pages/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/pages/css/font-awesome.min.css" />

    <script src="../static/pages/js/jquery-1.9.1.min.js"></script>
    <script src="../static/pages/js/bootstrap.min.js"> </script>
    <script src="../static/pages/js/ace.min.js"> </script>
    <script src="../static/pages/js/ace-elements.min.js"></script>
    <script src="../static/pages/laydate/laydate.js"></script>
    <script src="../static/pages/js/fullcalendar.min.js"></script>
    <script src="../static/pages/js/jquery-ui-1.10.2.custom.min.js"></script>


</head>

<body>
    <div th:replace="layout::top"></div>
    <div class="main-container" id="main-container">
        <div th:replace="layout::left('13','35')">
        </div>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <img src="../static/pages/img/line1.png">
                <span>课程表</span>
                <img src="../static/pages/img/line.png">
            </div>
            <div class="screen" style="height:80px;">
                <div class="screenTop">
                    <select class="selectName">
                        <option value="AZ">教师姓名</option>
                        <option value="AL">111</option>
                        <option value="AK">222</option>
                    </select>
                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
                            <span class="input-icon">
                                <input type="text" placeholder="请输入姓名、支持拼音缩写" class="nav-search-input" id="nav-search-input"
                                    autocomplete="off">
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="orderCon">
                <div class="export">
                    <button type="button" class="btn btn-primary">导出课表</button>
                </div>
                <div class="orderTable">

                    <div id="calendar">
                        <div class="classStyle">
                            <p class="state1"><span></span>已记上课</p>
                            <p class="state2"><span></span>我的日程</p>
                            <p class="state3"><span></span>正常日程</p>
                            <p class="state4"><span></span>冲突日程</p>
                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>

    </div>
    </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;
        $(function () {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var url = basePath+"/jw_center_arranging_course/to_arranging_course_fullcalendar";
            $('#calendar').fullCalendar({
                header: {
                    right: '',
                    center: 'prev,title,next,today',
                    left: 'agendaDay,agendaWeek,month'
                },
                defaultView:'agendaWeek',
                firstDay: 1,
                editable: true,
                timeFormat: 'H:mm',
                axisFormat: 'H:mm',
                events: function(start, end, callback) {
                    var fstart = $.fullCalendar.formatDate(start, "yyyy-MM-dd");
                    var fend = $.fullCalendar.formatDate(end, "yyyy-MM-dd");
                    $.ajax({
                        type: "post",
                        url: url,//我是用ajax获取后台数据的，这里填写地址
                        dataType: "json",
                        data: {
                            start: fstart,
                            end: fend
                        },
                        success: function(data) {
                            if (data) {
                                var event = [];
                                var listentity = data.listentity;
                                $.each(listentity, function(i) {
                                    var d = listentity[i];
                                    var id = d.id;
                                    var time = d.timeInterval.split("-");
                                    var date = d.startDateTime.split("-");
                                    var className =d.xbclass.className;
                                    var y = date[0];
                                    var m = date[1];
                                    var d = date[2];
                                    var starthhtime = time[0].split(":")[0];
                                    var startmmtime = time[0].split(":")[1];
                                    var endhhtime = time[1].split(":")[0];
                                    var endtmmtime = time[1].split(":")[1];
                                    event.push({
                                        _id: id,
                                        title:className,
                                        start: new Date(y, m-1, d ,starthhtime,startmmtime),
                                        end: new Date(y, m-1, d ,endhhtime,endtmmtime),
                                        allDay: false
                                    });
                                });
                                callback(event);
                            }
                        },
                        error:function(){
                            alert("错了")
                        }
                    });
                },
                //点击事件
                eventClick: function(event) {
                    alert("哈哈哈")
                    if (event.url) {
                        window.open(event.url);
                        return false;
                    }
                },
                loading: function (bool) {
                    if (bool) $('#loading').show();
                    else $('#loading').hide();
                },
                //#region 鼠标放上去显示信息
                eventMouseover: function (calEvent, jsEvent, view) {
                    var fstart = $.fullCalendar.formatDate(calEvent.start, "yyyy/MM/dd HH:mm");
                    var fend = $.fullCalendar.formatDate(calEvent.end, "yyyy/MM/dd HH:mm");
                    $(this).attr('title', fstart + " - " + fend + " " + calEvent.title);
                    //  鼠标悬浮到title的时候可以设置展现哪些信息
                    // $(this).attr('title', calEvent.fullname);
                    //$(this).attr('title', "哈哈哈");
                    $(this).css('font-weight', 'normal');
                    //            $(this).tooltip({
                    //                effect: 'toggle',
                    //                cancelDefault: true
                    //            });
                    var evtcontent = '<div class="tanchu">                  ';
                    evtcontent += '		<span>开始：2018-10-29 08:00</span>        ';
                    evtcontent += '		<span>结束：2018-10-29 17:00</span>        ';
                    evtcontent += '		<span>教室：5号教室</span>                 ';
                    evtcontent += '		<span>班课/一对一：青山分校2018届4班</span>';
                    evtcontent += '		<span>教师：汪大东</span>                  ';
                    evtcontent += '		<span>助教：张三</span>                    ';
                    evtcontent += '</div>								       ';
                    //$(this).html(evtcontent);
                    //$(this).parent().append(evtcontent);
                },
                eventMouseout: function (event, jsEvent, view) {
                    console.log('out');
                    calendar.fullCalendar('removeEvents', bgEvent.id);
                },
            });

        });
    </script>

</body>

</html>