<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" href="../static/pages/css/ace.min.css" id="main-ace-style" />
    <link rel="stylesheet" href="../static/pages/css/index.css">
    <link rel="stylesheet" href="../static/pages/css/management.css">
    <link rel="stylesheet" href="../static/pages/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/pages/css/font-awesome.min.css" />

    <script src="../static/pages/js/jquery.min.js"></script>
    <script src="../static/pages/js/bootstrap.min.js"> </script>
    <script src="../static/pages/js/ace.min.js"> </script>
    <script src="../static/pages/js/ace-elements.min.js"></script>
    <script src="../static/pages/laydate/laydate.js"></script>



</head>
<body>
<div th:replace="layout::top"></div>
<div class="main-container" id="main-container">
    <div th:replace="layout::left('12','')">
    </div>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <img src="../static/pages/img/line1.png">
            <span>办理中心</span>
            <img src="../static/pages/img/line.png">
        </div> 
        <div class="managementIcon">
            <ul>
                <li>
                    <a href="/student/getStudent">
                        <span><img src="../static/pages/img/bf.png"></span>
                        <p>报名/续费</p>
                    </a>
                </li>
                <li>
                    <a href="/feeRelated/changeClass">
                        <span><img src="../static/pages/img/bf.png"></span>
                        <p>转班</p>
                    </a>
                </li>
                <!--<li>
                    <a href="/forward/subsidy">
                        <span><img src="../static/pages/img/bf.png"></span>
                        <p>补费</p>
                    </a>
                </li>
                <li>
                    <a href="/forward/stopClass">
                        <span><img src="../static/pages/img/tk.png"></span>
                        <p>停课</p>
                    </a>
                </li>
                <li>
                    <a href="/forward/repeat">
                        <span><img src="../static/pages/img/fk.png"></span>
                        <p>复课</p>
                    </a>
                </li>-->
            </ul>
        </div> 
        <div class="screen">
            <div class="screenTop">
                <select class="selectName">
                    <option value="AZ">学员姓名</option>
                    <option value="AL">订单号</option>
                    <!--<option value="AK">学院名称</option>-->
                </select>
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="请输入姓名、支持拼音缩写" class="nav-search-input" id="nav-search-input" autocomplete="off">
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div>
                <div class="form-group" style="display: inline;">
                    <button type="button" th:onclick="'javascript:getOrgansListPage(\'\')'">搜索</button>
                </div>
            </div>
        </div>
        <div class="orderCon">
            <div class="export">
                <button type="button" class="btn btn-primary">导出当前结果</button>
            </div> 
            <div class="result">
                <!--当前结果：总计<span th:text="${XbSupplementFeePage.getTotalElements()}"></span>条记录，应收款项总计：<span>111</span>元，实收总计：<span>111</span>元 |  欠费总计：<span>111</span>元-->
            </div>
            <div class="orderTable">
                <table class="table table-hover">
                    <tr>
                        <!--<th>订单号</th>-->
                        <th>学员姓名</th>
                        <th>订单类型</th>
                        <th>交易内容</th>
                        <th>应收</th>
                        <th>实收</th>
                        <th>学员账户</th>
                        <th>欠费</th>
                        <th>销售员</th>
                        <th>经办人</th>
                        <th>经办校区</th>
                        <th>日期</th>
                        <th>状态</th>
                        <th>操作</th>
                      </tr>
                      <tr th:each="ment:${XbSupplementFeePage}">
                        <!--<td>11180</td>-->
                        <td th:text="${ment.xbStudent.studentName}"></td>
                        <td th:if="${ment.type} eq '0'">报名</td>
                        <td th:text="${ment.remarks}" class="orderTxt"></td>
                        <td th:text="${ment.surplusMoney}"></td>
                        <td th:text="${ment.paymentMoney}"></td>
                        <td th:text="${ment.xbStudent.surplusMoney}"></td>
                        <td th:text="${ment.xbStudent.paymentMoney}"></td>
                        <td th:text="${ment.xbStudent.salesPerson}"></td>
                        <td th:text="${ment.xbStudent.handlePerson}"></td>
                        <td th:text="${ment.xbStudent.sysOrgans.organName}"></td>
                        <td th:text="${#dates.format(ment.paymentDate, 'yyyy-MM-dd')}"></td>
                        <td><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></td>
                        <td>
                            <div class="btn-group">
                                <p data-toggle="dropdown" class="down">
                                    操作
                                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                </p>
                                <ul class="dropdown-menu dropdown-default">
                                    <li>
                                        <a href="#">确认到款</a>
                                    </li>

                                    <li>
                                        <a href="managementEdit.html">编辑</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                      </tr>
                </table>
                <div class="orderPage">
                    <div class="page">
                        单页显示：
                        <select>
                            <option>20条/页</option>
                            <option>50条/页</option>
                            <option>100条/页</option>
                        </select>
                    </div>
                    <ul class="pagination">
                        <li class="disabled">
                            <a href="#">首页</a>
                        </li>
                        <li class="disabled">
                            <a href="#">
                                <i class="ace-icon fa fa-angle-double-left"></i>
                            </a>
                        </li>  
                        <li class="active">
                            <a href="#">1</a>
                        </li>

                        <li>
                            <a href="#">2</a>
                        </li>

                        <li>
                            <a href="#">3</a>
                        </li>

                        <li>
                            <a href="#">4</a>
                        </li>

                        <li>
                            <a href="#">5</a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="ace-icon fa fa-angle-double-right"></i>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">尾页</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</div> 

<script>
!function(){
laydate({elem: '#demo'});//绑定元素
}();

$(".btn-down").click(function(){
  $(this).siblings(".dropdown-menu").toggle();
});
$(".tag .close").click(function(){
  $(this).parent(".tag").hide();
});

</script> 
</body>
</html>