<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../static/pages/css/ace.min.css" id="main-ace-style" />
    <link rel="stylesheet" href="../static/pages/css/index.css">
    <link rel="stylesheet" href="../static/pages/css/enroll.css">
    <link rel="stylesheet" href="../static/pages/css/madal.css">
    <link rel="stylesheet" href="../static/pages/css/newStudent.css">
    <link rel="stylesheet" href="../static/pages/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/pages/css/font-awesome.min.css" />

    <script src="../static/pages/js/jquery.min.js"></script>
    <script src="../static/pages/js/bootstrap.min.js"> </script>
    <script src="../static/pages/js/ace.min.js"> </script>
    <script src="../static/pages/js/ace-elements.min.js"></script>
    <script src="../static/pages/laydate/laydate.js"></script>

</head>
<body>
<div id="navbar" class="eduNav">
    <div class="navbar-header pull-left">
        <a href="index.html" class="navbar-brand">
            <small>
                <img src="../static/pages/img/logo.png" alt="">
            </small>
        </a>
    </div>
    <div class="pull-right eduName">
        <span>万某 [管理员]</span> 
        <span>机构中心</span>
        <span>退出</span>   
    </div>
</div>  
<div class="main-container" id="main-container">
    <div id="sidebar" class="sidebar responsive">
        <ul class="nav nav-list" style="top: 0px;">
            <li class="">
                <a href="index.html"><span class="menu-text"> 工作台 </span></a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="management.html"><span class="menu-text"> 办理中心 </span></a>
                <b class="arrow"></b>
            </li>
            <li class="active open">
                <a href="#" class="dropdown-toggle">
                    <span class="menu-text">教务中心</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="student.html"><i class="menu-icon fa fa-caret-right"></i>学员</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="classes.html"><i class="menu-icon fa fa-caret-right"></i>班级</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="oneToOne.html">
                        <i class="menu-icon fa fa-caret-right"></i>一对一</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="courseArray.html"><i class="menu-icon fa fa-caret-right"></i>排课</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="lessonTable.html"><i class="menu-icon fa fa-caret-right"></i>课程表</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="attendClass.html"><i class="menu-icon fa fa-caret-right"></i>记上课</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="active">
                        <a href="course.html"><i class="menu-icon fa fa-caret-right"></i>课程</a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <li class="hsub">
                <a href="#" class="dropdown-toggle">
                    <span class="menu-text"> 内部管理 </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="organization.html"><i class="menu-icon fa fa-caret-right"></i>组织架构</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="newStudent.html"><i class="menu-icon fa fa-caret-right"></i>员工信息</a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>      
        </ul>
    </div>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <img src="../static/pages/img/line1.png">
            <span>新建课程</span>
            <img src="../static/pages/img/line.png">
        </div>     
        <!-- <div class="enrollCon">
            <h2>班级信息</h2>
            <div class="stopClass newClass">     
                <div class="form-group">
                    <label><span>*</span>校区</label>
                    <select name="" id="">
                        <option value="">选择校区</option>
                        <option value="">222</option>
                        <option value="">333</option>
                    </select>
                </div>
                <div class="form-group">
                    <label><span>*</span>课程</label>
                    <select name="" id="">
                        <option value="">111</option>
                        <option value="">222</option>
                        <option value="">333</option>
                    </select>
                    <Span>请先选择校区再选择课程</Span>
                </div>
                <div class="form-group" style="display: block;">
                    <label for=""><span>*</span>班级名称</label>
                    <input type="text" placeholder="该备注将会被打印且会在校宝家中显示" class="remark">
                </div>
                <div style="display:block;">
                    <div class="classDate">
                        <label>开班日期</label>
                        <input class="laydate-icon" id="demo" >   
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="check">
                        <span class="pend">日期待定</span>
                    </div>
                    <div class="form-group">
                        <label><span>*</span>预招人数</label>
                        <input type="text" value="1">
                        <span>人</span>
                    </div>
                    <div class="form-group">
                        <label>成班人数</label>
                        <input type="text" value="1">
                        <span>人</span>
                    </div>
                </div>
                <div style="display: block; margin-top:20px;">
                    <div class="form-group">
                        <label><span>*</span>每次上课</label>
                        学员 <input type="text" value="1">
                        <span>人</span>
                    </div>
                    <div class="form-group">
                        <label>教师</label>
                        <input type="text" value="1">
                        <span>课时</span>
                    </div>
                    <div class="form-group">
                        <label>招生状态</label>
                        <input name="form-field-radio" type="radio" class="ace"><span class="lbl">开放招生</span>
                        <input name="form-field-radio" type="radio" class="ace"><span class="lbl">停止招生</span>
                    </div>
                </div>
                <div style="display: block; margin-top:20px;">
                    <div class="form-group">
                        <label>教室</label>
                        <select name="" id="">
                            <option value="">选择教室</option>
                            <option value="">222</option>
                            <option value="">333</option>
                        </select>
                    </div>  
                    <div class="form-group teacher" >
                        <label>教师</label>
                        <select name="" id="">
                            <option value="">选择教师</option>
                            <option value="">222</option>
                            <option value="">333</option>
                        </select>
                        <select name="" id="">
                            <option value="">选择助教</option>
                            <option value="">222</option>
                            <option value="">333</option>
                        </select>
                        <i>+</i>
                        <span>以上教师和助教可对班级学员记上课和布置作业(需要拥有相关权限)</span>
                    </div>  
                </div>
                <div class="form-group" style="display: block;">
                    <label for="">备注</label>
                    <input type="text"  class="remark">
                </div>
            </div>
        </div> -->
        
        <div class="form-box">
            <div class="main-form">
                <h3>课程基础信息</h3>   
                <div class="form-group">
                    <label><span>*</span>课程类别</label>
                    <input type="text">
                    <a href="#modal-table1"  data-toggle="modal">新建类别</a>
                </div>
                <div class="form-group">
                    <label>科目</label>
                    <input type="text">
                    <a href="#modal-table1"  data-toggle="modal">新建科目</a>
                </div>
                <div class="form-group">
                    <label><span>*</span>课程名称</label>
                    <input type="text" placeholder="请输入课程名称">
                </div>
                <div class="form-group">
                    <label><span>*</span>授课模式</label>
                    <input name="form-field-radio" type="radio" class="ace"><span class="lbl">班课</span>
                    <input name="form-field-radio" type="radio" class="ace"><span class="lbl">一对一</span>
                </div>
                <div class="form-group">
                    <label><span>*</span>收费模式</label>
                    <p><input type="checkbox">按课时</p>
                    <p><input type="checkbox">按期</p>
                    <p><input type="checkbox">按时间</p>
                </div>
                <div class="form-group">
                    <label><span>*</span>开课校区</label>
                    <p><input type="checkbox">全部校区</p>
                    <p><input type="checkbox">青山分校</p>
                    <p><input type="checkbox">111</p>
                </div>
            </div>
            <div class="extend-form">
                <h3>定价标准</h3>
                <table class="table-bordered">
                    <tr>
                        <th>校区</th>
                        <th>定价标准</th>
                    </tr>
                    <tr>
                        <td>全部校区</td>
                        <td>
                            <div class="extend-list">
                                <div class="form-group">
                                    <label>按课时</label>
                                    <div class="numCon">
                                        <input id="text_box" name="" type="text" value="0"/>
                                        <div class="count">
                                            <span class="glyphicon glyphicon-menu-up" id="add"></span>
                                            <span class="glyphicon glyphicon-menu-down" id="min"></span>
                                        </div>  
                                    </div>
                                    <span class="txt">课时</span>
                                    <span class="txt">=</span>
                                    <div class="numCon">
                                        <input id="text_box1" name="" type="text" value="0"/>
                                        <div class="count">
                                            <span class="glyphicon glyphicon-menu-up" id="add1"></span>
                                            <span class="glyphicon glyphicon-menu-down" id="min1"></span>
                                        </div>  
                                    </div>
                                    <span class="txt">元</span>
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>    
        </div>
        
        
        
        
        
        <div class="enrollCon" style="margin-top:30px;">
            <button class="save">保存</button>
        </div>
    </div>

    <!-- 新建课程类别 -->
    <div id="modal-table1" class="modal fade in" tabindex="-1" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">新建课程类别</div>
                </div>
                    <div class="modal-body" style="padding:15px !important">
                        <div class="form-group" style="display: inline;">
                            <label for="">序号</label>
                            <input type="text" value="8">
                        </div>  
                        <div class="form-group" style="display: inline; margin-left:20px;">
                            <label for="">类别名称</label>
                            <input type="text" placeholder="请输入课程类别">
                        </div>  
                    </div>        
                <div class="modal-footer no-margin-top">
                    <button class="btn pull-left" data-dismiss="modal">
                        取消
                    </button>
                    <button class="btn pull-right" data-dismiss="modal">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 新建科目 -->
    <div id="modal-table2" class="modal fade in" tabindex="-1" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">新建科目</div>
                </div>
                    <div class="modal-body" style="padding:15px !important">  
                        <div class="form-group" style="display: inline; margin-left:20px;">
                            <label for="">科目名称</label>
                            <input type="text" placeholder="请填写科目名称">
                        </div>  
                    </div>        
                <div class="modal-footer no-margin-top">
                    <button class="btn pull-left" data-dismiss="modal">
                        取消
                    </button>
                    <button class="btn pull-right" data-dismiss="modal">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> 

<script>
!function(){
laydate({elem: '#demo'});//绑定元素
}();
$(".glyphicon-remove-sign").click(function(){
  $(this).parent().parent(".extend-list").hide();
});
</script> 
<script>
    $(document).ready(function(){
    //获得文本框对象
    var t = $("#text_box");
    //初始化数量为1,并失效减
    $('#min').attr('disabled',true);
        //数量增加操作
        $("#add").click(function(){ 
        // 给获取的val加上绝对值，避免出现负数
        t.val(Math.abs(parseInt(t.val()))+1);
        if (parseInt(t.val())!=1){
        $('#min').attr('disabled',false);
        };
        }) 
        //数量减少操作
        $("#min").click(function(){
        t.val(Math.abs(parseInt(t.val()))-1);
        if (parseInt(t.val())==1){
        $('#min').attr('disabled',true);
        };
        })
    });
</script> 
<script>
    $(document).ready(function(){
    //获得文本框对象
    var t = $("#text_box1");
    //初始化数量为1,并失效减
    $('#min1').attr('disabled',true);
        //数量增加操作
        $("#add1").click(function(){ 
        // 给获取的val加上绝对值，避免出现负数
        t.val(Math.abs(parseInt(t.val()))+1);
        if (parseInt(t.val())!=1){
        $('#min1').attr('disabled',false);
        };
        }) 
        //数量减少操作
        $("#min1").click(function(){
        t.val(Math.abs(parseInt(t.val()))-1);
        if (parseInt(t.val())==1){
        $('#min1').attr('disabled',true);
        };
        })
    });
</script>
</body>
</html>