<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../static/pages/css/ace.min.css" id="main-ace-style" />
    <link rel="stylesheet" href="../static/pages/css/index.css">
    <link rel="stylesheet" href="../static/pages/css/enroll.css">
    <link rel="stylesheet" href="../static/pages/css/madal.css">
    <link rel="stylesheet" href="../static/pages/css/newStudent.css">
    <link rel="stylesheet" href="../static/pages/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/pages/css/font-awesome.min.css" />

    <script src="../static/pages/js/jquery.min.js"></script>
    <script src="../static/pages/js/bootstrap.min.js"> </script>
    <script src="../static/pages/js/ace.min.js"> </script>
    <script src="../static/pages/js/ace-elements.min.js"></script>
    <script src="../static/pages/laydate/laydate.js"></script>

</head>
<body>
<div id="navbar" class="eduNav">
    <div class="navbar-header pull-left">
        <a href="index.html" class="navbar-brand">
            <small>
                <img src="../static/pages/img/logo.png" alt="">
            </small>
        </a>
    </div>
    <div class="pull-right eduName">
        <!--<span>万某 [管理员]</span>
        <span>机构中心</span>
        <span>退出</span>  -->
    </div>
</div>
<div class="main-container" id="main-container">
    <div id="sidebar" class="sidebar responsive">
        <ul class="nav nav-list" style="top: 0px;">
            <li class="">
                <a href="/forward/index"><span class="menu-text"> 工作台 </span></a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/student/getManagementList"><span class="menu-text"> 办理中心 </span></a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <span class="menu-text">教务中心</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="/student/getXbStudentList"><i class="menu-icon fa fa-caret-right"></i>学员</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/student/getXbClassroomList"><i class="menu-icon fa fa-caret-right"></i>班级</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/student/getOneToOneList">
                            <i class="menu-icon fa fa-caret-right"></i>一对一</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/forward/courseArray"><i class="menu-icon fa fa-caret-right"></i>排课</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/forward/lessonTable"><i class="menu-icon fa fa-caret-right"></i>课程表</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/forward/attendClass"><i class="menu-icon fa fa-caret-right"></i>记上课</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/jwcentercourse/tocourse"><i class="menu-icon fa fa-caret-right"></i>课程</a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <li class="active open">
                <a href="#" class="dropdown-toggle">
                    <span class="menu-text"> 内部管理 </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="/accounts/getOrgansList"><i class="menu-icon fa fa-caret-right"></i>组织架构</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="active">
                        <a href="/accounts/getEmployeeList"><i class="menu-icon fa fa-caret-right"></i>员工信息</a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <img src="../static/pages/img/line1.png">
            <span>新建课程</span>
            <img src="../static/pages/img/line.png">
        </div>
        <div class="form-box" >
            <div class="main-form">
                <h3>课程基础信息</h3>
                <input type="hidden" id="courseId" th:value="${xbCourse?.id}">
                <div class="form-group">
                    <label><span>*</span>课程类别</label>
                    <select name="courseTypeId"    id="courseTypeId"  class="input-select" >
                        <option value="-1">--请选择--</option>
                        <option th:each="cts,userStat:${coursetypelist}"  th:selected="${cts.id == xbCourse?.courseTypeId}"
                                th:value="${cts.id}" th:text="${cts.courseTypeName}"></option>
                    </select>
                    <!--<a href="#modal-table1"  data-toggle="modal">新建类别</a>-->
                </div>
                <div class="form-group">
                    <label>科目</label>
                    <select name="subjectId"  id="subjectId" class="input-select" >
                        <option value="-1">--请选择--</option>
                        <option th:each="cts,userStat:${subjectlist}"  th:selected="${cts.id == xbCourse?.subjectId}"
                                th:value="${cts.id}" th:text="${cts.subjectName}"></option>
                    </select>
                    <!-- <a href="#modal-table1"  data-toggle="modal">新建科目</a>-->
                </div>
                <div class="form-group">
                    <label><span>*</span>课程名称</label>
                    <input type="text" name="courseName" id="courseName" th:value="${xbCourse?.courseName}" placeholder="请输入课程名称">
                </div>
                <div class="form-group">
                    <label ><span>*</span>授课模式</label>
                    <input name="type" type="radio" class="ace" value="0" th:checked="${xbCourse?.type=='0'}"><span class="lbl">班课</span>
                    <input name="type" type="radio" class="ace" value="1" th:checked="${xbCourse?.type=='1'}"><span class="lbl">一对一</span>
                </div>
                <div class="form-group">
                    <label><span>*</span>收费模式</label>
                    <p><input type="radio" name="chargingMode" value="0" th:checked="${xbCourse?.chargingMode=='0'}"
                              th:onclick="|chargingMode('0')|">按课时</p>
                    <p><input type="radio" name="chargingMode" value="2" th:checked="${xbCourse?.chargingMode=='2'}"
                              th:onclick="|chargingMode('1')|">按期</p>
                    <p><input type="radio" name="chargingMode" value="1" th:checked ="${xbCourse?.chargingMode=='1'}"
                              th:onclick="|chargingMode('2')|">按时间</p>
                </div>
                <div class="form-group" th:if="${xbCourse==null}">
                    <label><span>*</span>开课校区</label>
                    <p><input type="checkbox" name="openingType" value="0" >全部校区</p>
                    <p><input type="checkbox" name="openingType" value="1" >青山分校</p>
                    <p><input type="checkbox" name="openingType" value="2" >洪兴分校</p>
                    <p><input type="checkbox" name="openingType" value="3" >东兴分校</p>
                </div>
                <div class="form-group" th:if="${xbCourse!=null}">
                    <label><span>*</span>开课校区</label>
                    <p><input type="checkbox" name="openingType" value="0" th:checked="${#strings.contains(xbCourse.openingType,'0')}">全部校区</p>
                    <p><input type="checkbox" name="openingType" value="1" th:checked="${#strings.contains(xbCourse.openingType,'1')}">青山分校</p>
                    <p><input type="checkbox" name="openingType" value="2" th:checked="${#strings.contains(xbCourse.openingType,'2')}">洪兴分校</p>
                    <p><input type="checkbox" name="openingType" value="3" th:checked="${#strings.contains(xbCourse.openingType,'3')}">东兴分校</p>
                </div>
            </div>
            <div class="extend-form">
                <h3>定价标准</h3>
                <table class="table-bordered">
                    <tr>
                        <th>校区</th>
                        <th>定价标准</th>
                    </tr>
                    <tr>
                        <td>全部校区</td>
                        <td>
                            <div class="extend-list">
                                <div class="form-group">
                                    <label>按课时</label>
                                    <div class="numCon">
                                        <input id="text_box" name="" type="text" value="0"/>
                                        <div class="count">
                                            <span class="glyphicon glyphicon-menu-up" id="add"></span>
                                            <span class="glyphicon glyphicon-menu-down" id="min"></span>
                                        </div>
                                    </div>
                                    <span class="txt">课时</span>
                                    <span class="txt">=</span>
                                    <div class="numCon">
                                        <input id="text_box1" name="" type="text" value="0"/>
                                        <div class="count">
                                            <span class="glyphicon glyphicon-menu-up" id="add1"></span>
                                            <span class="glyphicon glyphicon-menu-down" id="min1"></span>
                                        </div>
                                    </div>
                                    <span class="txt">元</span>
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="enrollCon" style="margin-top:30px;">
            <button class="save" onclick="saveCourse()">保存</button>
            <button class="save" onclick="javascript:history.go(-1)">返回</button>
        </div>
    </div>

    <!-- 新建课程类别 -->
    <!--<div id="modal-table1" class="modal fade in" tabindex="-1" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">新建课程类别</div>
                </div>
                    <div class="modal-body" style="padding:15px !important">
                        <div class="form-group" style="display: inline;">
                            <label for="">序号</label>
                            <input type="text" value="8">
                        </div>  
                        <div class="form-group" style="display: inline; margin-left:20px;">
                            <label for="">类别名称</label>
                            <input type="text" placeholder="请输入课程类别">
                        </div>  
                    </div>        
                <div class="modal-footer no-margin-top">
                    <button class="btn pull-left" data-dismiss="modal">
                        取消
                    </button>
                    <button class="btn pull-right" data-dismiss="modal">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    &lt;!&ndash; 新建科目 &ndash;&gt;
    <div id="modal-table2" class="modal fade in" tabindex="-1" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">新建科目</div>
                </div>
                    <div class="modal-body" style="padding:15px !important">  
                        <div class="form-group" style="display: inline; margin-left:20px;">
                            <label for="">科目名称</label>
                            <input type="text" placeholder="请填写科目名称">
                        </div>  
                    </div>        
                <div class="modal-footer no-margin-top">
                    <button class="btn pull-left" data-dismiss="modal">
                        取消
                    </button>
                    <button class="btn pull-right" data-dismiss="modal">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>-->
    <script type="text/javascript" th:inline="javascript">
        var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;




        //--------------------------------------------------------------新建课程------------------------------------------------------------------------
        function saveCourse(){
            var courseId =  $("#courseId").val();
            var courseTypeId =  $("#courseTypeId").val();

            var courseTypeName =  $("#courseTypeId").find("option:selected").text();
            if(courseTypeId=="-1"){
                courseTypeName ="";
            }
            var subjectId =  $("#subjectId").val();
            var subjectName =  $("#subjectId").find("option:selected").text();
            if(subjectId=="-1"){
                subjectName ="";
            }
            var courseName =  $("#courseName").val();
            var type = $('input[name="type"]:checked').val();
            var chargingMode = $('input[name="chargingMode"]:checked').val();

            var strgetSelectValue = "";
                var getSelectValueMenbers = $("input[name='openingType']:checked").each(function(j) {
                if (j >= 0) {
                    strgetSelectValue += $(this).val() + ","
                }
            });
            var openingType = strgetSelectValue;
            $.ajax({
                url: [[@{/jwcentercourse/savecourse}]],
            type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(
                {id:courseId,
                    courseTypeId:courseTypeId,
                    courseTypeName:courseTypeName,
                    subjectId:subjectId,
                    subjectName:subjectName,
                    courseName:courseName,
                    type:type,
                    state:"0",
                    chargingMode:chargingMode,
                    remarks:"备注",
                    openingType:openingType
                }
            ),
                async: true,
                success: function(data) {
                console.log("回调成功")
                var status = data.status;
                var msg = data.msg;
                if(status=="0"){
                    alert(data.msg);
                    window.location.href=basePath+"/jwcentercourse/tocourse"
                }else{
                    alert(msg);
                }
            },
            error:function(){
                console.log("回调失败")
            }
        });
        };

        //删除课程类别
        function subjectRemove(id){
            $.ajax({
                url: [[@{/jwcentercourse/removesubject}]],
            type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({id:id}),
                async: true,
                success: function(data) {
                console.log("回调成功")
                var status = data.status;
                var msg = data.msg;
                if(status=="0"){
                    var id = data.cousrtype.id;
                    $("#"+id).parent().remove();
                    alert(msg);
                }else{
                    alert(msg);
                }
            },
            error:function(){
                console.log("回调失败")
            }
        });
        }
    </script>
</div>
<!----------------------------------------------------------科目函数群------------------------------------------------------------->
<script>
    !function(){
        laydate({elem: '#demo'});//绑定元素
    }();
    $(".glyphicon-remove-sign").click(function(){
        $(this).parent().parent(".extend-list").hide();
    });

</script>
<script>
    $(document).ready(function(){
        //获得文本框对象
        var t = $("#text_box");
        //初始化数量为1,并失效减
        $('#min').attr('disabled',true);
        //数量增加操作
        $("#add").click(function(){
            // 给获取的val加上绝对值，避免出现负数
            t.val(Math.abs(parseInt(t.val()))+1);
            if (parseInt(t.val())!=1){
                $('#min').attr('disabled',false);
            };
        })
        //数量减少操作
        $("#min").click(function(){
            t.val(Math.abs(parseInt(t.val()))-1);
            if (parseInt(t.val())==1){
                $('#min').attr('disabled',true);
            };
        })
    });
</script>
<script>
    $(document).ready(function(){
        //获得文本框对象
        var t = $("#text_box1");
        //初始化数量为1,并失效减
        $('#min1').attr('disabled',true);
        //数量增加操作
        $("#add1").click(function(){
            // 给获取的val加上绝对值，避免出现负数
            t.val(Math.abs(parseInt(t.val()))+1);
            if (parseInt(t.val())!=1){
                $('#min1').attr('disabled',false);
            };
        })
        //数量减少操作
        $("#min1").click(function(){
            t.val(Math.abs(parseInt(t.val()))-1);
            if (parseInt(t.val())==1){
                $('#min1').attr('disabled',true);
            };
        })
    });
</script>
</body>
</html>