<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" href="../static/pages/css/ace.min.css" id="main-ace-style" />
    <link rel="stylesheet" href="../static/pages/css/index.css">
    <link rel="stylesheet" href="../static/pages/css/management.css">
    <link rel="stylesheet" href="../static/pages/css/student.css">
    <link rel="stylesheet" href="../static/pages/css/madal.css">
    <link rel="stylesheet" href="../static/pages/css/Inmanagement.css">
    <link rel="stylesheet" href="../static/pages/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/pages/css/font-awesome.min.css" />

    <script src="../static/pages/js/jquery.min.js"></script>
    <script src="../static/pages/js/bootstrap.min.js"> </script>
    <script src="../static/pages/js/ace-elements.min.js"></script>
    <script src="../static/pages/js/ace.min.js"> </script>
 
    

</head>
<body>
<div id="navbar" class="eduNav">
    <div class="navbar-header pull-left">
        <a href="index.html" class="navbar-brand">
            <small>
                <img src="../static/pages/img/logo.png" alt="">
            </small>
        </a>
    </div>
    <div class="pull-right eduName">
        <!--<span>万某 [管理员]</span>
        <span>机构中心</span>
        <span>退出</span>  -->
    </div>
</div>  
<div class="main-container" id="main-container">
    <div id="sidebar" class="sidebar responsive">
        <ul class="nav nav-list" style="top: 0px;">
            <li class="">
                <a href="/forward/index"><span class="menu-text"> 工作台 </span></a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/student/getManagementList"><span class="menu-text"> 办理中心 </span></a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <span class="menu-text">教务中心</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="/student/getXbStudentList"><i class="menu-icon fa fa-caret-right"></i>学员</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/student/getXbClassroomList"><i class="menu-icon fa fa-caret-right"></i>班级</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/student/getOneToOneList">
                            <i class="menu-icon fa fa-caret-right"></i>一对一</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/forward/courseArray"><i class="menu-icon fa fa-caret-right"></i>排课</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/forward/lessonTable"><i class="menu-icon fa fa-caret-right"></i>课程表</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/forward/attendClass"><i class="menu-icon fa fa-caret-right"></i>记上课</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/jwcentercourse/tocourse"><i class="menu-icon fa fa-caret-right"></i>课程</a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <li class="active open">
                <a href="#" class="dropdown-toggle">
                    <span class="menu-text"> 内部管理 </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="active">
                        <a href="/accounts/getOrgansList"><i class="menu-icon fa fa-caret-right"></i>组织架构</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/accounts/getEmployeeList"><i class="menu-icon fa fa-caret-right"></i>员工信息</a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <img src="../static/pages/img/line1.png">
            <span>组织架构</span>
            <img src="../static/pages/img/line.png">
        </div> 
        <div class="tabbable">
            <div class="tab-content student classes">
                <!-- 学员列表 -->
                <div  class="tab-pane fade in active"> 
                    <div class="screen">
                        <a href="#modal-table" role="button"  data-toggle="modal"><button class="stdEnroll">新建</button></a> 
                    </div>
                    <div class="orderCon">
                        <div class="orderTable">
                            <div class="tableTitle">
                                <div>
                                    <span class="name">名称</span>
                                    <span class="type">校区类型</span>
                                    <span class="tel1">电话1</span>
                                    <span class="tel2">电话2</span>
                                    <span class="address">地址</span>
                                    <span class="operate" style="right: 19px;">操作</span>
                                </div>
                            </div>
                            <div class="info-list">
                                <ol>
                                    <li th:each="organs,organsStat:${organsPage.content}">
                                        <div data-handle="" class="tree-handle">
                                            <span class="tree-titleWrap" th:text="${organs.organName}">
                                            </span>
                                            <span th:switch="${organs.campusType}">
                                                <span class="cols-80" th:case="0">直营</span>
                                                <span class="cols-80" th:case="1">合作</span>
                                                <span class="cols-80" th:case="2">加盟</span>
                                                <span class="cols-80" th:case="3">代理</span>
                                            </span>
                                            <span title="0472-5208800" class="cols-120" th:text="${organs.phone1}"></span>
                                            <span title="0472-5208801" class="cols-120" th:text="${organs.phone2}"></span>
                                            <span title="昆区市府西路科源大厦西门四楼" class="cols-240" th:text="${organs.adds}"></span>
                                            <span class="tree-fr">
                                                <!--<span class="tree-btn-wrap">
                                                    <a href="javascript:;">添加子集</a>
                                                    <div class="ivu-tooltip">
                                                        <div class="ivu-tooltip-rel"></div>
                                                    </div>
                                                </span>-->
                                                <span class="tree-btn-wrap guidebtn2">
                                                    <a href="#modal-table" role="button"  data-toggle="modal"
                                                       th:onclick="|javascript:sourceEdit('${organs.id}','${organs.organName}','${organs.campusType}','${organs.phone1}','${organs.phone2}','${organs.adds}','${organs.layOrder}','${organs.campusType}')|">编辑
                                                   </a>
                                                    <div class="ivu-tooltip">
                                                        <div class="ivu-tooltip-rel"></div>
                                                    </div>
                                                </span>
                                                <span class="tree-btn-wrap">
                                                     <a  th:onclick="|javascript:sourceRemove('${organs.id}')|">删除</a>
                                                    <div class="ivu-tooltip">
                                                        <div class="ivu-tooltip-rel"></div>
                                                    </div>
                                                </span>
                                            </span>
                                        </div>
                                    </li>
                                </ol>
                            </div>

                            <div class="orderPage" style="margin-top:30px;">
                                <div class="page">
                                    单页显示：
                                    <select id="size" name="size" onchange="getOrgansListPage('');">
                                        <option value="20">20条/页</option>
                                        <option value="5">5条/页</option>
                                        <option value="10">10条/页</option>
                                        <option value="15">15条/页</option>
                                    </select>
                                    <input type="hidden" id="currentzise" th:value="${currentzise}"/>
                                </div>
                                <ul class="pagination" >
                                    <li class="disabled">
                                        <a href="#" th:onclick="'javascript:getOrgansListPage(\''+0+'\')'">首页</a>
                                    </li>
                                    <li class="disabled" th:if="${organsPage.getNumber()-1} ge 0">
                                        <a href="#" th:onclick="'javascript:getOrgansListPage(\''+${organsPage.getNumber()-1}+'\')'">
                                            <i class="ace-icon fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                        <li class="active" th:each="i:${#numbers.sequence(1,organsPage.getTotalPages())}">
                                            <a href="#" th:onclick="'javascript:getOrgansListPage(\''+${i}+'\')'" th:text="${i}"></a>
                                        </li>
                                    <li th:if="${organsPage.getTotalPages()} ge ${organsPage.getNumber()+2} ">
                                        <a href="#" th:onclick="'javascript:getOrgansListPage(\''+${organsPage.getNumber()+2}+'\')'">
                                            <i class="ace-icon fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                   <!-- <li class="">
                                        <a href="#" th:onclick="'javascript:getOrgansListPage(\''+${currentnumber}+'\')'">尾页</a>
                                    </li>-->
                                </ul>
                            </div>
                        </div>    
                    </div>
                </div>                
            </div>
        </div>


        
    </div>

    <!-- 新建/编辑 -->
    <div id="modal-table" class="modal fade in pk" tabindex="-1" aria-hidden="false">
        <form id="iform" th:action="@{/accounts/save/organs}" th:method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header no-padding">
                        <div class="table-header">新建/编辑</div>
                    </div>
                        <div class="modal-body no-padding" style="padding: 20px 0 !important;">
                            <!--<div class="form-group">
                                <label><i>*</i>上级</label>
                                <input type="text" value="sehfjksfhbksdjfbh">
                            </div>-->
                            <input type="hidden" id="organsid" name="id"/>
                            <div class="form-group">
                                <label><i>*</i>类型</label>
                                <!--<input name="form-field-radio" name="organType"  type="radio" class="ace"><span class="lbl">校区</span>-->
                                <input type="radio" checked class="ace"><span class="lbl">校区</span>
                            </div>
                            <div class="form-group">
                                <label><i>*</i>名称</label>
                                <input type="text" id="organName" name="organName">
                            </div>
                            <div class="form-group">
                                <label><i>*</i>电话1</label>
                                <input type="text" id="phone1" name="phone1">
                            </div>
                            <div class="form-group">
                                <label><i>*</i>电话2</label>
                                <input type="text" id="phone2" name="phone2" value="">
                            </div>
                            <div class="form-group">
                                <label><i>*</i>地址</label>
                                <textarea name="adds" id="adds" cols="50" rows="1"></textarea>
                            </div>
                            <div class="grounInline">
                                <div class="form-group">
                                    <label><i>*</i>校区排序</label>
                                    <input type="text" id="layOrder" name="layOrder">
                                </div>
                                <div class="form-group">
                                    <label><i>*</i>校区类型</label>
                                    <select name="campusType" id="campusType">
                                        <option value="0">直营</option>
                                        <option value="1">合作</option>
                                        <option value="2">加盟</option>
                                        <option value="3">代理</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                    <div class="modal-footer no-margin-top">
                        <button class="btn pull-left" data-dismiss="modal">
                            取消
                        </button>
                        <button class="btn pull-right" onclick="saveOrganization();" data-dismiss="modal">
                            保存
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div> 
<script>
!function(){
//laydate({elem: '#demo'});//绑定元素

}();

$(function(){
    var a = $("#currentzise").val();
    if(a!=20){
        $("#size").val(a);
    }
});

$(".down").click(function(){
  $(this).siblings(".dropdown-menu").toggle();
});
$(".tag .close").click(function(){
  $(this).parent(".tag").hide();
});
function selectAll(){
    var isCheck=$("#sel_1").is(':checked');  //获得全选复选框是否选中
    $("#choose input[type='checkbox']").each(function() {  
        this.checked = isCheck;       //循环赋值给每个复选框是否选中
    });

    var isCheck=$("#sel_2").is(':checked');  //获得全选复选框是否选中
    $(".checkList input[type='checkbox']").each(function() {  
        this.checked = isCheck;       //循环赋值给每个复选框是否选中
    });    
};
</script>

<script type="text/javascript" th:inline="javascript">
    var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;

    function saveOrganization(){
        var data= serializeObject("#iform");
        $.ajax({
            type: 'post',
            dataType: 'json',
            url: basePath + '/accounts/save/organs',
            data: JSON.stringify(data),
            contentType:"application/json;charset=UTF-8",
            cache: false,
            async: true,
            success: function (data) {
                var status = data.status;
                var msg = data.msg;
                alert("编辑成功！");
                window.location.href = basePath + '/accounts/getOrgansList';
                /*if(status=="0"){
                    if (confirm(msg)) {
                        window.location.href(basePath + '/accounts/getOrgansList');
                    }
                }else{

                }*/
            }
        });
    }


    function getOrgansListPage(page){
        var size = $('#size option:selected').val();//选中的值
        if(page){
            page = page -1;
        }
        window.location.href = basePath + '/accounts/getOrgansList?page='+page+'&size='+size;
    }

    function serializeObject(form)
    {
        var o = {};
        var a = $(form).serializeArray();
        $.each(a, function() {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    //机构编辑赋值
    function sourceEdit(id,organName,organType,phone1,phone2,adds,layOrder,campusType){
        alert(adds);
        $("#organsid").val(id);
        $("#organName").val(organName);
        //$("#organType").val(organType);
        $("#phone1").val(phone1);
        $("#phone2").val(phone2);
        $("#adds").val(adds);
        $("#layOrder").val(layOrder);
        $("#campusType").val(campusType);
    }

    //删除课程类别
    function sourceRemove(id){
        $.ajax({
            url: basePath + '/accounts/delete/organs',
            type: 'get',
            dataType: 'json',
            contentType: 'application/json',
            data: {id:id},
            async: true,
            success: function(data) {
                var status = data.status;
                var msg = data.msg;
                alert("删除成功！");
                window.location.href = basePath + '/accounts/getOrgansList';
            },
            error:function(){
                console.log("回调失败")
            }
        });
    }

</script>
</body>
</html>