<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" href="../static/pages/css/ace.min.css" id="main-ace-style" />
    <link rel="stylesheet" href="../static/pages/css/index.css">
    <link rel="stylesheet" href="../static/pages/css/management.css">
    <link rel="stylesheet" href="../static/pages/css/student.css">
    <link rel="stylesheet" href="../tatic/pages/css/madal.css">
    <link rel="stylesheet" href="../static/pages/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/pages/css/font-awesome.min.css" />

    <script src="../static/pages/js/jquery.min.js"></script>
    <script src="../static/pages/js/bootstrap.min.js"> </script>
    <script src="../static/pages/js/ace.min.js"> </script>
    <script src="../static/pages/js/ace-elements.min.js"></script>
    <script src="../static/pages/laydate/laydate.js"></script>

    

</head>
<body>
<div id="navbar" class="eduNav">
    <div class="navbar-header pull-left">
        <a href="index.html" class="navbar-brand">
            <small>
                <img src="../../resources/static/pages/img/logo.png" alt="">
            </small>
        </a>
    </div>
    <div class="pull-right eduName">
        <span>万某 [管理员]</span> 
        <span>机构中心</span>
        <span>退出</span>   
    </div>
</div>  
<div class="main-container" id="main-container">
    <div id="sidebar" class="sidebar responsive">
        <ul class="nav nav-list" style="top: 0px;">
            <li class="">
                <a href="index.html"><span class="menu-text"> 工作台 </span></a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="../../resources/templates/management.html"><span class="menu-text"> 办理中心 </span></a>
                <b class="arrow"></b>
            </li>
            <li class="active open">
                <a href="#" class="dropdown-toggle">
                    <span class="menu-text">教务中心</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="active">
                        <a href="student.html"><i class="menu-icon fa fa-caret-right"></i>学员</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="../../resources/templates/classes.html"><i class="menu-icon fa fa-caret-right"></i>班级</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="../../resources/templates/oneToOne.html">
                        <i class="menu-icon fa fa-caret-right"></i>一对一</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="../../resources/templates/courseArray.html"><i class="menu-icon fa fa-caret-right"></i>排课</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="../../resources/templates/lessonTable.html"><i class="menu-icon fa fa-caret-right"></i>课程表</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="../../resources/templates/attendClass.html"><i class="menu-icon fa fa-caret-right"></i>记上课</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="../../resources/templates/course.html"><i class="menu-icon fa fa-caret-right"></i>课程</a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <li class="hsub">
                <a href="#" class="dropdown-toggle">
                    <span class="menu-text"> 内部管理 </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="../../resources/templates/organization.html"><i class="menu-icon fa fa-caret-right"></i>组织架构</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="../../resources/templates/newStudent.html"><i class="menu-icon fa fa-caret-right"></i>员工信息</a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>      
        </ul>
    </div>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <img src="../../resources/static/pages/img/line1.png">
            <span>学员</span>
            <img src="../../resources/static/pages/img/line.png">
        </div> 
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#studentList">学员列表</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#divideList">学员分班列表</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#expiryStu">到期学员</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#arrearList">课程欠费学员</a>
                </li>
            </ul>
            <div class="tab-content student">
                <!-- 学员列表 -->
                <div id="studentList" class="tab-pane fade in active"> 
                    <div class="screen">
                        <a class="stdEnroll" href="../../resources/templates/enroll.html" target="_blank">新生报名</a>
                        <div class="screenTop">  
                            <select class="selectName">
                                <option value="AZ">学员姓名</option>
                                <option value="AL">手机尾号</option>
                                <option value="AK">微信号</option>
                            </select>
                            <div class="nav-search" id="nav-search">
                                <form class="form-search">
                                    <span class="input-icon">
                                        <input type="text" placeholder="请输入姓名、支持拼音缩写" class="nav-search-input" id="nav-search-input" autocomplete="off">
                                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                                    </span>
                                </form>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-down">
                                    筛选
                                    <i>1</i>
                                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                </button>
                                <div class="dropdown-menu">
                                    <div class="screenData">
                                        <select>
                                            <option value="">报读校区</option>
                                            <option value="y">青山校区</option>
                                            <option value="n">科源校区</option>
                                            <option value="n">坤元校区</option>
                                        </select> 
                                        <select>
                                            <option value="">教师</option>
                                            <option value="y">111</option>
                                            <option value="n">1111</option>
                                        </select>            
                                    </div>
                                    <div class="screenData">
                                        <select>
                                            <option value="">报读校区</option>
                                            <option value="y">青山校区</option>
                                            <option value="n">科源校区</option>
                                            <option value="n">坤元校区</option>
                                        </select> 
                                        <select>
                                            <option value="">课时状态</option>
                                            <option value="y">在读</option>
                                            <option value="n">转出</option>
                                            <option value="y">退费</option>
                                            <option value="n">停课</option>
                                            <option value="n">结课</option>
                                            <option value="n">转课</option>
                                        </select>            
                                    </div>     
                                </div>
                            </div>                                
                        </div>
                        <div class="screenBot tags">
                            课程状况：
                            <span class="tag">在读<button type="button" class="close">×</button></span>
                            <span class="tag">在读<button type="button" class="close">×</button></span>
                            <p>清空筛选</p>
                        </div>
                    </div>
                    <div class="orderCon">
                        <div class="export">
                            <button type="button" class="btn btn-primary">批量删除学员</button>
                        </div> 
                        <div class="result">
                            当前结果：学员共计<span>111</span>名，报读课程数总计：<span>111</span>条
                        </div>
                        <div class="orderTable">
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        <input type="checkbox" id="sel_1" onchange="selectAll()">
                                    </th>
                                    <th>学员姓名
                                        <div class="sort">
                                            <span class="glyphicon glyphicon-triangle-top"></span>
                                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                                        </div>                                       
                                    </th>
                                    <th>联系电话</th>
                                    <th>所属关系</th>
                                    <th>余额</th>
                                    <th>欠费</th>
                                    <th>报读课程</th>
                                    <th>剩余课时/天数</th>
                                    <th>报名时间</th>
                                    <th>
                                        <span href="#modal-table"  data-toggle="modal" class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                    </th>
                                </tr>
                                <tr id="choose">
                                    <td><input type="checkbox"></td>
                                    <td><img src="../../resources/static/pages/img/boy.png">张三</td>
                                    <td>18958777777</td>
                                    <td>母亲</td>
                                    <td>0.00</td>
                                    <td>2511.00<a href="">补费</a></td>
                                    <td>识字1</td>
                                    <td>192.00课时</td>
                                    <td>2018-05-20</td>
                                    <td></td>
                                </tr>
                                <tr id="choose">
                                    <td><input type="checkbox"></td>
                                    <td><img src="../../resources/static/pages/img/boy.png">张三</td>
                                    <td>18958777777</td>
                                    <td>母亲</td>
                                    <td>0.00</td>
                                    <td>2511.00<a href="">补费</a></td>
                                    <td>识字1</td>
                                    <td>192.00课时</td>
                                    <td>2018-05-20</td>
                                    <td></td>
                                </tr>
                                <tr id="choose">
                                    <td><input type="checkbox"></td>
                                    <td><img src="../../resources/static/pages/img/boy.png">张三</td>
                                    <td>18958777777</td>
                                    <td>母亲</td>
                                    <td>0.00</td>
                                    <td>2511.00<a href="">补费</a></td>
                                    <td>识字1</td>
                                    <td>192.00课时</td>
                                    <td>2018-05-20</td>
                                    <td></td>
                                </tr>
                            </table>
                            <div class="orderPage">
                                <div class="page">
                                    单页显示：
                                    <select>
                                        <option>20条/页</option>
                                        <option>50条/页</option>
                                        <option>100条/页</option>
                                    </select>
                                </div>
                                <ul class="pagination">
                                    <li class="disabled">
                                        <a href="#">首页</a>
                                    </li>
                                    <li class="disabled">
                                        <a href="#">
                                            <i class="ace-icon fa fa-angle-double-left"></i>
                                        </a>
                                    </li>  
                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>
            
                                    <li>
                                        <a href="#">2</a>
                                    </li>
            
                                    <li>
                                        <a href="#">3</a>
                                    </li>
            
                                    <li>
                                        <a href="#">4</a>
                                    </li>
            
                                    <li>
                                        <a href="#">5</a>
                                    </li>
            
                                    <li>
                                        <a href="#">
                                            <i class="ace-icon fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#">尾页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>    
                    </div>
                </div>
                <!-- 学员分班列表 -->
                <div id="divideList" class="tab-pane fade divideList">
                    <div class="screen">                       
                        <div class="screenTop">  
                            <select class="selectName">
                                <option value="AZ">学员姓名</option>
                                <option value="AL">手机尾号</option>
                                <option value="AK">微信号</option>
                            </select>
                            <div class="nav-search" id="nav-search">
                                <form class="form-search">
                                    <span class="input-icon">
                                        <input type="text" placeholder="请输入姓名、支持拼音缩写" class="nav-search-input" id="nav-search-input" autocomplete="off">
                                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                                    </span>
                                </form>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-down">
                                    筛选
                                    <i>1</i>
                                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                </button>
                                <div class="dropdown-menu">
                                    <div class="screenData">
                                        <select>
                                            <option value="">报读校区</option>
                                            <option value="y">青山校区</option>
                                            <option value="n">科源校区</option>
                                            <option value="n">坤元校区</option>
                                        </select> 
                                        <select>
                                            <option value="">教师</option>
                                            <option value="y">111</option>
                                            <option value="n">1111</option>
                                        </select>            
                                    </div>
                                    <div class="screenData">
                                        <select>
                                            <option value="">报读校区</option>
                                            <option value="y">青山校区</option>
                                            <option value="n">科源校区</option>
                                            <option value="n">坤元校区</option>
                                        </select> 
                                        <select>
                                            <option value="">课时状态</option>
                                            <option value="y">在读</option>
                                            <option value="n">转出</option>
                                            <option value="y">退费</option>
                                            <option value="n">停课</option>
                                            <option value="n">结课</option>
                                            <option value="n">转课</option>
                                        </select>            
                                    </div>     
                                </div>
                            </div>                                
                        </div>
                        <div class="screenBot tags">
                            课程状况：
                            <span class="tag">在读<button type="button" class="close">×</button></span>
                            <span class="tag">在读<button type="button" class="close">×</button></span>
                            <p>清空筛选</p>
                        </div>
                    </div>
                    <div class="orderCon">
                        <div class="export">
                            <button type="button" class="btn btn-primary">导出当前结果</button>
                        </div> 
                        <div class="result">
                            当前结果：学员共计<span>111</span>名，报读课程数总计：<span>111</span>条
                        </div>
                        <div class="orderTable">
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        <input type="checkbox" id="sel_3" onchange="chooseAll()">
                                    </th>
                                    <th>学员姓名</th>
                                    <th>联系方式</th>
                                    <th>班级</th>
                                    <th>状态</th>
                                    <th>课程</th>
                                    <th>课程总学费</th>
                                    <th>校区</th>
                                    <th>教师</th>
                                    <th>上课时间</th>
                                    <th>报名时间</th>                                
                                </tr>
                                <tr id="choose">
                                    <td><input type="checkbox"></td>
                                    <td><img src="../../resources/static/pages/img/boy.png">张三</td>
                                    <td>18958777777</td>
                                    <td style="width:200px;">科源分校识字张三18班</td>
                                    <td>在读</td>
                                    <td>识字1</td>
                                    <td>3021.60</td>
                                    <td>科源分校</td>
                                    <td>李四</td>
                                    <td>
                                        <span>每周周日 14:00-15:00</span>
                                        <span>每周周日 14:00-15:00</span>
                                    </td>
                                    <td>2018-05-20</td>
                                </tr>
                                <tr id="choose">
                                    <td><input type="checkbox"></td>
                                    <td><img src="../../resources/static/pages/img/boy.png">张三</td>
                                    <td>18958777777</td>
                                    <td style="width:200px;">科源分校识字张三18班</td>
                                    <td>在读</td>
                                    <td>识字1</td>
                                    <td>3021.60</td>
                                    <td>科源分校</td>
                                    <td>李四</td>
                                    <td>
                                        <span>每周周日 14:00-15:00</span>
                                        <span>每周周日 14:00-15:00</span>
                                    </td>
                                    <td>2018-05-20</td>
                                </tr>
                                <tr id="choose">
                                    <td><input type="checkbox"></td>
                                    <td><img src="../../resources/static/pages/img/boy.png">张三</td>
                                    <td>18958777777</td>
                                    <td style="width:200px;">科源分校识字张三18班</td>
                                    <td>在读</td>
                                    <td>识字1</td>
                                    <td>3021.60</td>
                                    <td>科源分校</td>
                                    <td>李四</td>
                                    <td>
                                        <span>每周周日 14:00-15:00</span>
                                        <span>每周周日 14:00-15:00</span>
                                    </td>
                                    <td>2018-05-20</td>
                                </tr>
                            </table>
                            <div class="orderPage">
                                <div class="page">
                                    单页显示：
                                    <select>
                                        <option>20条/页</option>
                                        <option>50条/页</option>
                                        <option>100条/页</option>
                                    </select>
                                </div>
                                <ul class="pagination">
                                    <li class="disabled">
                                        <a href="#">首页</a>
                                    </li>
                                    <li class="disabled">
                                        <a href="#">
                                            <i class="ace-icon fa fa-angle-double-left"></i>
                                        </a>
                                    </li>  
                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>
            
                                    <li>
                                        <a href="#">2</a>
                                    </li>
            
                                    <li>
                                        <a href="#">3</a>
                                    </li>
            
                                    <li>
                                        <a href="#">4</a>
                                    </li>
            
                                    <li>
                                        <a href="#">5</a>
                                    </li>
            
                                    <li>
                                        <a href="#">
                                            <i class="ace-icon fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#">尾页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>    
                    </div>
                </div>
                <!-- 到期学员 -->
                <div id="expiryStu" class="tab-pane fade expiryStu">
                    <div class="screen">  
                        <a class="stdEnroll" href="../../resources/templates/enroll.html" target="_blank">新生报名</a>
                        <button class="batch">批量导入</button>                   
                        <div class="screenTop"> 
                            <div class="form-group">
                                <label>学费到期查询：</label> 
                                <select class="selectName">
                                    <option value="AZ">全部</option>
                                    <option value="AL">课时(按课时)</option>
                                    <option value="AK">课时(按期)</option>
                                    <option value="AK">按时间</option>
                                    <option value="AK">按课时有效期</option>
                                </select>
                            </div>                            
                            <div class="form-group">
                                <label>剩余</label>
                                <input type="text" value="0">
                                <label>至</label>
                                <input type="text" value="0">
                                <button type="button">搜索</button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-down">
                                    筛选
                                    <i>1</i>
                                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                </button>
                                <div class="dropdown-menu">
                                    <div class="screenData">
                                        <select>
                                            <option value="">报读校区</option>
                                            <option value="y">青山校区</option>
                                            <option value="n">科源校区</option>
                                            <option value="n">坤元校区</option>
                                        </select> 
                                        <select>
                                            <option value="">教师</option>
                                            <option value="y">111</option>
                                            <option value="n">1111</option>
                                        </select>            
                                    </div>
                                    <div class="screenData">
                                        <select>
                                            <option value="">报读校区</option>
                                            <option value="y">青山校区</option>
                                            <option value="n">科源校区</option>
                                            <option value="n">坤元校区</option>
                                        </select> 
                                        <select>
                                            <option value="">课时状态</option>
                                            <option value="y">在读</option>
                                            <option value="n">转出</option>
                                            <option value="y">退费</option>
                                            <option value="n">停课</option>
                                            <option value="n">结课</option>
                                            <option value="n">转课</option>
                                        </select>            
                                    </div>     
                                </div>
                            </div>                                
                        </div>
                        <div class="screenBot tags">
                            课程状况：
                            <span class="tag">在读<button type="button" class="close">×</button></span>
                            <span class="tag">在读<button type="button" class="close">×</button></span>
                            <p>清空筛选</p>
                        </div>
                    </div>
                    <div class="orderCon">
                        <div class="export">
                            <button type="button" class="btn btn-primary">批量删除学员</button>
                            <div class="form-group">
                                <input type="checkbox">
                                显示剩余学费
                            </div>
                        </div> 
                        <div class="result">
                            当前结果：学员共计<span>111</span>名，报读课程数总计：<span>111</span>条
                        </div>
                        <div class="orderTable">
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        <input type="checkbox" id="sel_4" onchange="chooseAll1()">
                                    </th>
                                    <th>
                                        学员姓名
                                        <div class="sort">
                                            <span class="glyphicon glyphicon-triangle-top"></span>
                                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                                        </div> 
                                    </th>
                                    <th>联系方式</th>
                                    <th>所属关系</th>
                                    <th>余额
                                        <div class="sort">
                                            <span class="glyphicon glyphicon-triangle-top"></span>
                                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                                        </div> 
                                    </th>
                                    <th>欠费</th>
                                    <th>报读课程</th>
                                    <th>剩余课时/天数</th>
                                    <th>报名时间</th>
                                    <th>操作</th>
                                    <th>
                                        <span href="#modal-table"  data-toggle="modal" class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                    </th>                                
                                </tr>
                                <tr id="choose">
                                    <td><input type="checkbox"></td>
                                    <td><img src="../../resources/static/pages/img/boy.png">张三</td>
                                    <td>18958777777</td>
                                    <td>母亲</td>
                                    <td>0.00</td>
                                    <td>0</td>
                                    <td>作文</td>
                                    <td>0.00课时</td>
                                    <td>2018-05-20</td>
                                    <td class="renew">
                                        <a href="../../resources/templates/enroll.html">
                                            <img src="../../resources/static/pages/img/WechatIMG2.pic">续费
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr id="choose">
                                    <td><input type="checkbox"></td>
                                    <td><img src="../../resources/static/pages/img/boy.png">张三</td>
                                    <td>18958777777</td>
                                    <td>母亲</td>
                                    <td>0.00</td>
                                    <td>-2300.00<a href="">补费</a></td>
                                    <td>作文</td>
                                    <td>0.00课时</td>
                                    <td>2018-05-20</td>
                                    <td class="renew">
                                        <a href="../../resources/templates/enroll.html">
                                            <img src="../../resources/static/pages/img/WechatIMG2.pic">续费
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                            <div class="orderPage">
                                <div class="page">
                                    单页显示：
                                    <select>
                                        <option>20条/页</option>
                                        <option>50条/页</option>
                                        <option>100条/页</option>
                                    </select>
                                </div>
                                <ul class="pagination">
                                    <li class="disabled">
                                        <a href="#">首页</a>
                                    </li>
                                    <li class="disabled">
                                        <a href="#">
                                            <i class="ace-icon fa fa-angle-double-left"></i>
                                        </a>
                                    </li>  
                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>
            
                                    <li>
                                        <a href="#">2</a>
                                    </li>
            
                                    <li>
                                        <a href="#">3</a>
                                    </li>
            
                                    <li>
                                        <a href="#">4</a>
                                    </li>
            
                                    <li>
                                        <a href="#">5</a>
                                    </li>
            
                                    <li>
                                        <a href="#">
                                            <i class="ace-icon fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#">尾页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>    
                    </div>
                </div>
                <!-- 课程欠费学员 -->
                <div id="arrearList" class="tab-pane fade arrearList">
                    <div class="screen"> 
                        <span class="arrearInfo">课程欠费维度下学员列表，监控学员课消状态</span>                      
                        <div class="screenTop">  
                            <select class="selectName">
                                <option value="AZ">学员姓名</option>
                                <option value="AL">手机尾号</option>
                                <option value="AK">微信号</option>
                            </select>
                            <div class="nav-search" id="nav-search">
                                <form class="form-search">
                                    <span class="input-icon">
                                        <input type="text" placeholder="请输入姓名、支持拼音缩写" class="nav-search-input" id="nav-search-input" autocomplete="off">
                                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                                    </span>
                                </form>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-down">
                                    筛选
                                    <i>1</i>
                                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                </button>
                                <div class="dropdown-menu">
                                    <div class="screenData">
                                        <select>
                                            <option value="">报读校区</option>
                                            <option value="y">青山校区</option>
                                            <option value="n">科源校区</option>
                                            <option value="n">坤元校区</option>
                                        </select> 
                                        <select>
                                            <option value="">教师</option>
                                            <option value="y">111</option>
                                            <option value="n">1111</option>
                                        </select>            
                                    </div>
                                    <div class="screenData">
                                        <select>
                                            <option value="">报读校区</option>
                                            <option value="y">青山校区</option>
                                            <option value="n">科源校区</option>
                                            <option value="n">坤元校区</option>
                                        </select> 
                                        <select>
                                            <option value="">课时状态</option>
                                            <option value="y">在读</option>
                                            <option value="n">转出</option>
                                            <option value="y">退费</option>
                                            <option value="n">停课</option>
                                            <option value="n">结课</option>
                                            <option value="n">转课</option>
                                        </select>            
                                    </div>     
                                </div>
                            </div>                                
                        </div>
                        <div class="screenBot tags">
                            课程状况：
                            <span class="tag">在读<button type="button" class="close">×</button></span>
                            <span class="tag">在读<button type="button" class="close">×</button></span>
                            <p>清空筛选</p>
                        </div>
                    </div>
                    <div class="orderCon">
                        <div class="export">
                            <button type="button" class="btn btn-primary">导出当前结果</button>
                        </div> 
                        <div class="result">
                            当前结果：学员共计<span>111</span>名，报读课程数总计：<span>111</span>条
                        </div>
                        <div class="orderTable">
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        <input type="checkbox" id="sel_5" onchange="chooseAll2()">
                                    </th>
                                    <th>学员姓名</th>
                                    <th>联系方式</th>
                                    <th>余额</th>
                                    <th>报读课程</th>
                                    <th>课程学费</th>
                                    <th>课程实收</th>
                                    <th>已用学费</th>
                                    <th>看不清</th>  
                                    <th>
                                        <span href="#modal-table" data-toggle="modal" class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                    </th>                              
                                </tr>
                                <tr id="choose">
                                    <td><input type="checkbox"></td>
                                    <td><img src="../../resources/static/pages/img/boy.png">张三</td>
                                    <td>18958777777</td>
                                    <td>0.00</td>
                                    <td>识字1</td>
                                    <td>3021.60</td>
                                    <td>450.00</td>
                                    <td>0.00</td>
                                    <td>450.00</td>
                                    <td></td>
                                </tr>
                                <tr id="choose">
                                    <td><input type="checkbox"></td>
                                    <td><img src="../../resources/static/pages/img/boy.png">张三</td>
                                    <td>18958777777</td>
                                    <td>0.00</td>
                                    <td>识字1</td>
                                    <td>3021.60</td>
                                    <td>450.00</td>
                                    <td>0.00</td>
                                    <td>450.00</td>
                                    <td></td>
                                </tr>
                                <tr id="choose">
                                    <td><input type="checkbox"></td>
                                    <td><img src="../../resources/static/pages/img/boy.png">张三</td>
                                    <td>18958777777</td>
                                    <td>0.00</td>
                                    <td>识字1</td>
                                    <td>3021.60</td>
                                    <td>450.00</td>
                                    <td>0.00</td>
                                    <td>450.00</td>
                                    <td></td>
                                </tr>
                            </table>
                            <div class="orderPage">
                                <div class="page">
                                    单页显示：
                                    <select>
                                        <option>20条/页</option>
                                        <option>50条/页</option>
                                        <option>100条/页</option>
                                    </select>
                                </div>
                                <ul class="pagination">
                                    <li class="disabled">
                                        <a href="#">首页</a>
                                    </li>
                                    <li class="disabled">
                                        <a href="#">
                                            <i class="ace-icon fa fa-angle-double-left"></i>
                                        </a>
                                    </li>  
                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>
            
                                    <li>
                                        <a href="#">2</a>
                                    </li>
            
                                    <li>
                                        <a href="#">3</a>
                                    </li>
            
                                    <li>
                                        <a href="#">4</a>
                                    </li>
            
                                    <li>
                                        <a href="#">5</a>
                                    </li>
            
                                    <li>
                                        <a href="#">
                                            <i class="ace-icon fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#">尾页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>    
                    </div>
                </div>

            </div>
        </div>


        
    </div>

    <!-- 自定义选项弹窗 -->
    <div id="modal-table" class="modal fade in" tabindex="-1" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">自定义选项</div>
                </div>
                    <div class="modal-body no-padding">
                        <div class="checkAll">
                            <input type="checkbox" id="sel_2" onchange="selectAll()">全选
                        </div>
                        <div class="checkList">
                            <span><input type="checkbox">渠道</span>
                            <span><input type="checkbox">欠费</span>
                            <span><input type="checkbox">积分</span>
                            <span><input type="checkbox">微信号</span>
                            <span><input type="checkbox">生日</span>
                            <span><input type="checkbox">年龄</span>
                            <span><input type="checkbox">公立学校</span>
                            <span><input type="checkbox">公立校班级</span>
                            <span><input type="checkbox">居住区域</span>
                            <span><input type="checkbox">其他信息</span>
                            <span><input type="checkbox">课程状态</span>
                            <span><input type="checkbox">上课校区</span>
                            <span><input type="checkbox">课时有校区</span>
                        </div>   
                    </div>
                
    
                <div class="modal-footer no-margin-top">
                    <button class="btn pull-left" data-dismiss="modal">
                        取消
                    </button>
                    <button class="btn pull-right" data-dismiss="modal">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>

</div> 
<script>
!function(){
laydate({elem: '#demo'});//绑定元素
}();

$(".btn-down").click(function(){
  $(this).siblings(".dropdown-menu").toggle();
});
$(".tag .close").click(function(){
  $(this).parent(".tag").hide();
});
function selectAll(){
    var isCheck=$("#sel_1").is(':checked');  //获得全选复选框是否选中
    $("#choose input[type='checkbox']").each(function() {  
        this.checked = isCheck;       //循环赋值给每个复选框是否选中
    });

    var isCheck=$("#sel_2").is(':checked');  //获得全选复选框是否选中
    $(".checkList input[type='checkbox']").each(function() {  
        this.checked = isCheck;       //循环赋值给每个复选框是否选中
    });    
};

function chooseAll(){
    var isCheck=$("#sel_3").is(':checked');  //获得全选复选框是否选中
    $("#choose input[type='checkbox']").each(function() {  
        this.checked = isCheck;       //循环赋值给每个复选框是否选中
    });  
};
function chooseAll1(){
    var isCheck=$("#sel_4").is(':checked');  //获得全选复选框是否选中
    $("#choose input[type='checkbox']").each(function() {  
        this.checked = isCheck;       //循环赋值给每个复选框是否选中
    });  
};
function chooseAll2(){
    var isCheck=$("#sel_5").is(':checked');  //获得全选复选框是否选中
    $("#choose input[type='checkbox']").each(function() {  
        this.checked = isCheck;       //循环赋值给每个复选框是否选中
    });  
};
</script> 
</body>
</html>