<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>上课记录</title>
      <link rel="stylesheet"href="../static/pages/wechat_css/bootstrap.min.css">
      <link rel="stylesheet"href="../static/pages/wechat_css/timetable.css" >
      <link rel="stylesheet" href="../static/pages/wechat_css/jHsDate.css" />
      <link rel="stylesheet" href="../static/pages/css/kd.ui.plugin.css" />
      <link rel="stylesheet" href="../static/pages/css/loading.css" />
      <script src="../static/pages/wechat_js/jquery.js"></script>
      <script src="../static/pages/wechat_js/bootstrap.min.js"></script>
      <script src="../static/pages/laydate/laydate.js"></script>
      <script src="../static/pages/js/kd.ui.plugin.js"></script>
      <script src="../static/pages/js/loading.js"></script>
  </head>
<body>
<div class="add" style="background: #2778ca;color: white;margin-bottom: 0px;font-size: 21px;line-height: 38px;">
    <p style="margin: 0 0 2px;">上课记录</p>
</div>
<div class="record">
    <ul th:each="cla:${recordLists.content}">
        <li  style="border-bottom: solid 0 #fff;border-top: solid 0 #fff;height: 23px;  ">
            <p class="date" th:text="${#dates.format(cla.recordTime, 'yyyy-MM-dd')}" style="width: 28%;">上课时间</p>
            <p class="class-list" style="width: 35%;text-align: center;" th:text="${cla.organName}">
            </p>
            <p style="width: 20%;"><i>上</i><span th:text="${cla.sknum}?${cla.sknum}:'0.0'"></span></p>
            <!--<p ><i>假</i><span th:text="${cla.qjnum}?${cla.qjnum}:'0.0'"></span></p>-->
            <!--<p><i>旷</i>0</p>
            <p><i>补</i>0</p>-->
            <p style="width: 10%;"><a th:href="@{'/recordClassWechat/accordingStudentRecord?classId='+${cla.classId}+'&recordTime='+${cla.recordTime}}"
            style="width: 77px;color: #2f90f3;height: 26px;font-weight: 600;
            margin-bottom: 2px;font-size: 15px;">修改</a></p>
            <p style="width: 10%;"><a th:onclick="|deleteRecord('${cla.classId}','${#dates.format(cla.recordTime, 'yyyy-MM-dd HH:mm:ss')}')|"
                   style="width: 77px;color:#de0e0e;height: 26px;font-weight: 600;
            margin-bottom: 2px;font-size: 15px;cursor: pointer;"
            >删除</a></p>
        </li>
        <li  style="border-bottom: solid 1px #cfd6dc;border-top: solid 0 #fff;">
            <p style="width: 28%;"></p>
            <p class="class-list" style="width: 35%;text-align: center;" th:text="${cla.courseTypeNname}+${cla.employeeName}+${cla.className}"  ">
            </p>
            <p style="width: 20%;"></p>
            <!--<p ><i>假</i><span th:text="${cla.qjnum}?${cla.qjnum}:'0.0'"></span></p>-->
            <!--<p><i>旷</i>0</p>
            <p><i>补</i>0</p>-->
            <p style="width: 10%;"></p>
            <p style="width: 10%;"></p>
        </li>
    </ul>
</div>
<div class="back">
    <a th:href="@{'/wechatLogin/toindex'}"><span class="glyphicon glyphicon-arrow-left"></span>返回课程表</a>
</div>
<script type="text/javascript" th:inline="javascript">
    var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/ ;

    function deleteRecord(classId,recordTime){
        $.kd.kdConfirm("确定要删除该上课记录?",function(){
            var load = new Loading();
            load.init({
                target: "body"
            });
            load.start();
            $.ajax({
                url: basePath + '/recordClass/delete/recrodClass',
                type: 'get',
                dataType: 'json',
                contentType: 'application/json',
                data: {classId:classId,recordTime:recordTime},
                async: true,
                success: function(data) {
                    load.stop();
                    var status = data.status;
                    var msg = data.msg;
                    if(status=='1'){
                        $.kd.kdAlert("删除上课记录成功",function(){
                            load.start();
                            window.location.href = basePath + '/recordClassWechat/getRecordClassRecordListByClass';
                        });
                    }else{
                        $.kd.kdMsg("删除上课记录失败");
                    }
                    /*$.kd.kdAlert("删除成功！",function () {
                        getRecordClassListByClass("");
                    });*/
                },
                error:function(){
                    console.log("回调失败")
                }
            });
        })
    }
</script>
</body>
</html>






























